<!doctype html>
<html>

  <%= partial "/layouts/head.erb" %>

  <body class="<%= page_classes %>">

    <%= partial "/layouts/nav.erb" %>
    <%= partial "/layouts/cover.erb" %>

    <%= yield %>

    <%= partial "/layouts/footer.erb" %>

  </body>

</html>
