<!DOCTYPE html>
<html lang="en">

<%= partial "/layouts/head.erb" %>

<body id="page-top" class="index">

<%= partial "/layouts/nav.erb" %>

<%= yield %>

<%= partial "/layouts/footer.erb" %>

<%= partial "/layouts/scripts.erb" %>

</body>

</html>
